
@{
    ViewData["Title"] = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--=================== About Template ===================-->
<main class="about-page">
    <section class="about-content">
        <div class="container-fluid">
            <div class="row">
                <h1 class="page-header text-center">about us</h1>
                <div class="col-md-6 about-desc">
                    <h4>
                        Introduction
                    </h4>
                    <p>
                        Mr. Robert D’costa started the business from the scratch in 2005. The flagship company of
                        Yash Gems & Jewelleries (P) ltd was formed to carry on the business of manufacturing and
                        trading of Gold & Diamond Jewellery.
                    </p>
                    <p>
                        To manufacture diamond Jewellery with ultimate brilliance, Yash has employed the latest
                        and most advanced technologies for manufacturing diamond jewellery.
                    </p>
                    <p>
                        Yash believes in reflecting their jewellery with special magic, conjured by melting of
                        spirit and dedication, labour and craftsmanship, and art of work. The talented
                        designers, skilled craftsmen and dedicated managers use state-of-the-art technology to
                        produce the finest level of diamond jewellery for leading retailers.
                    </p>
                    <p>
                        The company’s sincere desire is to give every client a reason to feel good. And policy is
                        to offer top quality merchandise to the customers at the best possible price.
                    </p>
                    <p>
                        With a vision and motto of providing its customers products of impeccable quality, Yash
                        has outnumbered many in innovative design and quality, making itself the benchmark and
                        hallmark of the Indian jewellery industry.
                    </p>
                </div>
                <div class="col-md-6 padding-clear">
                    <img src="/images_product/ring6.png" alt="" class="img-responsive">
                </div>
                <div class="contact-info">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <h3>Address</h3>
                        <p>49 Archdale, 2B Charleston,<br /> New York City, USA</p>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <h3>Phones</h3>
                        <p>
                            Support: <span>+777 (100) 1234</span><br>
                            Sales manager: <span>+777 (100) 4321</span><br>
                            Director: <span>+777 (100) 1243</span>
                        </p>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <h3>Email Addresses</h3>
                        <p>
                            Support: <span class="mail">support@example.com</span><br>
                            Sales manager: <span class="mail">manager@example.com</span><br>
                            Director: <span class="mail">chief@example.com</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="padding-fix-2 paira-gap-3 overflow-h">
                <div class="row">
                    <h4 class="margin-bottom-30 margin-clear">Office Location</h4>
                    <!--=================== Google Map ===================-->
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1959.659664763736!2d106.66612785576946!3d10.786836365991896!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1svi!2s!4v1615019845699!5m2!1svi!2s"
                            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

                </div>
            </div>
        </div>
    </section>
</main>

