@model yash.Data.Entities.User

@{
    ViewData["Title"] = "ChangePass";
}
<main class="login-page">
    <section class="login-content paira-gap-2">
        <div class="container-fluid">
            <div class="row">
                <div id="login">
                    <h1 class="text-center">Change Password</h1>
                    <h3 style="color:red" class="page-header text-center">@ViewBag.mess</h3>
                    <div class="col-md-12 padding-fix-2 paira-gap-3">
                        <form asp-action="ChangePass" asp-controller="UsersApp" method="post">
                            <input hidden type="number" value="@Model.Id" name="id" />
                            <input type="text" asp-for="Email" class="form-control margin-bottom-30" placeholder="Email" value="@Model.Email" readonly />
                            <span asp-validation-for="Email" class="text-danger"></span>
                            <input type="password" asp-for="Password" class="form-control margin-bottom-30" placeholder="New Password" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                            <button type="submit" class="btn btn-default btn-lg margin-right-10 margin-bottom-30 pull-left">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>